@mixin flex-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
