@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 28px;
}

.advice {
  &-heading {
    font-size: 10px;
    letter-spacing: 4px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px;
  }
  &-text {
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
    @media only screen and (max-width: 400px) {
      font-size: 18px;
      margin-bottom: 35px;
    }
  }
}
